* {
	margin:0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.navbar{
    background-color: rgba(220, 9, 9, 0.89);
    margin-bottom: 200px;
}
.titulo{
    color: white;
    font-family: sans-serif;
    margin-left: 30px;
}
.subtitulo{
    color: red;
}
.parrafo-uno{
    font-size: 15px;
}
.parrafo-dos{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.subtitulos-principal{
    text-align: center;
    padding: 10px;
}
.carousel{
    margin-top: 15px;
}

.logo{
    width: 50px;
}
.nav-item{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav-link{
    font-size: 100px;
}
.rojo{
 color: red;
}
.offcanvas{
    background-color: red;
}
.parrafos-subtitulo{
    color: black;
    padding: 10px;
}
.subtitulos{
    color: black;
    text-decoration: solid;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 100%;
}
body {
	background: #F0F2F1;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

.contenedor {
	max-width: 1200px;
	margin:50px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.contenedor_tarjeta {
	margin: 20px;
}

.contenedor_tarjeta a {
	display: inline-block;
}

.contenedor_tarjeta:hover figure {
	transform: perspective(600px) rotateY(180deg);
	-webkit-box-shadow: 0px 2px 10px 2px red;
	-moz-box-shadow: 0px 2px 10px 2px red;
	box-shadow: 0px 2px 10px 2px red;
}

/* .contenedor_tarjeta:hover figure img {
	 Si queremos podemos aplicar un efecto blur a nuestra imagen al girar 
	filter:blur(2px)
}
 */
figure {
	width: 300px;
	height: 350px;
	margin:0;
	position: relative;
	transition: all ease .8s;
	transform-style: preserve-3d;
	/* Nota:
		Establecemos que la imagen tendra una rotacion de 0grados al inicio porque si no
		ponemos esta propiedad nos da un poco de problemas en algunos navegadores al pasar el cursor.
	*/
	transform: perspective(600px) rotateY(0deg);
}

figure .frontal,
figure .trasera {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	transition: all ease .5s;
    
}

figure .frontal {
	display: block;
	background: #000;

	/* Podemos ocultar la imagen al da la vuelta si lo queremos */
	/*backface-visibility: hidden;*/
}

figure .trasera {
	position: absolute;
	top: 0;
	padding: 20px;
	color: #fff;
	transform: perspective(600px) rotateY(180deg);
	backface-visibility: hidden;
	overflow: auto;
}

.contenedor_tarjeta:nth-child(1) figure .trasera{
	background: rgba(95,58,53,0.7);
	background: -moz-linear-gradient(top, rgba(95,58,53,0.7) 0%, rgba(221,32,47,1) 100%);;
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(95,58,53,0.7)), color-stop(100%, rgba(221,32,47,1)));
	background: -webkit-linear-gradient(top, rgba(95,58,53,0.7) 0%, rgba(221,32,47,1) 100%);
	background: -o-linear-gradient(top, rgba(95,58,53,0.7) 0%, rgba(221,32,47,1) 100%);
	background: -ms-linear-gradient(top, rgba(95,58,53,0.7) 0%, rgba(221,32,47,1) 100%);
	background: linear-gradient(to bottom, rgba(95,58,53,0.7) 0%, rgba(221,32,47,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f3a35', endColorstr='#dd202f', GradientType=0 );
}

.contenedor_tarjeta:nth-child(2) figure .trasera{
    background: rgba(95,58,53,0.7);
	background: -moz-linear-gradient(top, rgba(95,58,53,0.7) 0%, rgba(221,32,47,1) 100%);;
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(95,58,53,0.7)), color-stop(100%, rgba(221,32,47,1)));
	background: -webkit-linear-gradient(top, rgba(95,58,53,0.7) 0%, rgba(221,32,47,1) 100%);
	background: -o-linear-gradient(top, rgba(95,58,53,0.7) 0%, rgba(221,32,47,1) 100%);
	background: -ms-linear-gradient(top, rgba(95,58,53,0.7) 0%, rgba(221,32,47,1) 100%);
	background: linear-gradient(to bottom, rgba(95,58,53,0.7) 0%, rgba(221,32,47,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f3a35', endColorstr='#dd202f', GradientType=0 );
}

.contenedor_tarjeta:nth-child(3) figure .trasera{
	background: rgba(95,58,53,0.7);
	background: -moz-linear-gradient(top, rgba(95,58,53,0.7) 0%, rgba(221,32,47,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(95,58,53,0.7)), color-stop(100%, rgba(221,32,47,1)));
	background: -webkit-linear-gradient(top, rgba(95,58,53,0.7) 0%, rgba(221,32,47,1) 100%);
	background: -o-linear-gradient(top, rgba(95,58,53,0.7) 0%, rgba(221,32,47,1) 100%);
	background: -ms-linear-gradient(top, rgba(95,58,53,0.7) 0%, rgba(221,32,47,1) 100%);
	background: linear-gradient(to bottom, rgba(95,58,53,0.7) 0%, rgba(221,32,47,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f3a35', endColorstr='#dd202f', GradientType=0 );
}

figure .trasera .titulo {
	color: #fff;
	font-weight: normal;
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
}

figure .trasera hr {
	height: 2px;
	background: #fff;
	border: none;
	margin-bottom: 20px;
	opacity: .5;
}

figure .trasera p {
	font-family: 'Open Sans', sans-serif;
	line-height: 22px;
	font-size: 14px;
}

@media screen and (max-width: 992px) { 
	figure .trasera {
		/*position: relative;*/
		backface-visibility:visible;
		transform: perspective(600px) rotateY(0deg);
	}

	.contenedor_tarjeta:hover figure {
		transform: perspective(600px) rotateY(0deg);	
	}

}
.img-article{
    width: 500px;
}

.footer{
    display: flex;
    color: white;
    background-color: rgba(0, 0, 0, 0.874);
    flex-wrap: wrap;
    justify-content: space-between;
/*     padding: 100px;
 */}

.div-footer{
   /*  border: solid 2px white; */
   padding: 40px;
}

.iconos{
    width: 20px;
}
.titulo-footer{
    color: red;
}

.bottom-footer{
    background-color: red;
}

.Copyright{
    text-align: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}